{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <form class="details" method="POST" action="/instructors?_method=PUT">
            <h3>Editar Instrutor</h3>
            {%include "instructors/_fields.njk"%}

            <input type="hidden" name="id" value="{{instructor.id}}">
        </form >
    </div>
{% endblock content %}